* {
    margin: 0;
    padding: 0;
    outline: none;
    font-family: "Ma Shan Zheng", cursive;
    scroll-behavior: smooth;
}

section{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background: radial-gradient(circle, #0be9de 20%, #09e08e 100%);
    min-height: 100vh;
    overflow: hidden;
}

.site-header {
    background-color: #fff;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    position: fixed;
    width: 100%;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    padding-right: 40px;
    z-index: 1000;
}

.logo img {
    height: 60px;
}

.site-nav a {
    color: #333;
    padding-right: 20px;
    text-decoration: none;
    margin: 0 10px;
    font-size: 16px;
    font-weight: 600;
}

.site-nav a:hover {
    color: #007BFF;
}

.menu-icon {
    font-size: 45px;
    padding-right: 15px;
    color: black;
    font-weight: 500;
    cursor: pointer;
    display: none;
}

.home {
    position: relative;
    width: 100%;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
}

.home-content {
    background: url('assets/background.jpg') no-repeat center center;
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    text-align: left;
    padding: 10px 20px;
}

.home-content h1 {
    color: #1876db;
    font-size: 56px;
    font-weight: 700;
    margin: -3px 0;
    letter-spacing: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.home-content p {
    color: #1876db;
    font-size: 1.5rem;
    margin-bottom: 10px;
    margin-top: 10px;
}

.hero-button {
    background-color: #007BFF;
    margin-top: -10px;
    color: white;
    border: none;
    padding: 10px 30px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.hero-button:hover {
    background-color: #0056b3;
}
/* swiper 書法迴廊 */
.swiper{
    width: 500px;
    height: 800px;
    padding: 50px 0;
}
.swiper-slide{
    position: relative;
    box-shadow: 0 15px 30px rgb(0,0,0,0.5);
    border-radius: 20px;
    background-repeat: no-repeat;
    background-size: contain;
}
.swiper-slide h2{
    position: absolute;
    width: 50%;
    bottom: 0;
    left: 0;
    color: black;
    font-weight: 900;
    margin: 0 0 20px 20px;
}
.swiper-slide:nth-child(1){
    background: linear-gradient(to top, #0f2027, #203a4300, #2c536400), url("assets/img01.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.swiper-slide:nth-child(2){
    background: linear-gradient(to top, #0f2027, #203a4300, #2c536400), url("assets/img02.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.swiper-slide:nth-child(3){
    background: linear-gradient(to top, #0f2027, #203a4300, #2c536400), url("assets/img03.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.swiper-slide:nth-child(4){
    background: linear-gradient(to top, #0f2027, #203a4300, #2c536400), url("assets/img04.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.swiper-slide:nth-child(5){
    background: linear-gradient(to top, #0f2027, #203a4300, #2c536400), url("assets/img05.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.swiper-slide:nth-child(6){
    background: linear-gradient(to top, #0f2027, #203a4300, #2c536400), url("assets/img06.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.swiper-slide:nth-child(7){
    background: linear-gradient(to top, #0f2027, #203a4300, #2c536400), url("assets/img07.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.swiper-slide:nth-child(8){
    background: linear-gradient(to top, #0f2027, #203a4300, #2c536400), url("assets/img08.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.swiper-slide:nth-child(9){
    background: linear-gradient(to top, #0f2027, #203a4300, #2c536400), url("assets/img09.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}


@media (max-width: 895px) {
    .home {
        padding: 0;
        height: 100px;
    }

    .site-nav a {
        margin: 0 10px;
        line-height: 1;
        font-size: 14px;
    }

    .logo img {
        height: 50px;
    }

    .site-header {
        padding: 10px 20px;
    }

    .menu-icon {
        display: block;
    }

    .site-nav {
        display: none;
        flex-direction: column;
        width: 100%;
    }

    .site-nav.active {
        display: flex;
    }

    .home-content {
        padding-left: 10px;
        padding-top: 10px;
        width: 100%;
        background-size: cover;
        background-position: center center;
    }

    .home-content h1,
    .home-content p {
        margin-top: -10px;
    }
    .swiper {
        width: 90%;
        height: auto;
    }

    .swiper-slide {
        height: 600px;
        margin-bottom: 35px;
    }

    .swiper-slide h2 {
        font-size: 1.2rem;
        margin: 10px;
    }
}
